/* google font we are lucky our design font is free :D*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

/* ==========================================================================
                           General Settings
========================================================================== */
* {
  margin: 0;
  padding: 0;
  /*This make borders included while calculating boz size*/
  box-sizing: border-box;
}
/* These are the main colors of our design. Can be used with: var(--background)*/
:root {
  --gray: #292929;
  --softGray: #b2b1b0;
  --yellow: #ff9f23;
  --softYellow: #ffecd3;
  --success: #1aac83;
  --error: #dd2e44;
  --background: #f5f5f5;
  /* This paddings look good almost every size more info: https://matthewjamestaylor.com/responsive-padding*/
  --whiteSpaceLarger: calc(10px + 1.7vw);
  --whiteSpaceLarge: calc(8px + 1.5625vw);
  --whiteSpaceMedium: calc(8px + 0.5625vw);
  --whiteSpaceSmall: calc(4px + 0.5625vw);
  --whiteSpaceSmaller: calc(4px + 0.1vw);
}
html {
  /* This will take the browser default font size, which usually around 16px then we can scale relatively with rem*/
  font-size: 100%;
}
body {
  font-family: "Fira Sans", sans-serif;
  color: var(--gray);
  background-color: var(--background);
}
/* React Links need style one bye one, so we style them all with a */
a {
  color: var(--gray);
  text-decoration: none;
}

.page-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

/* ==========================================================================
                           Middle Section
========================================================================== */
.middle-section {
  padding: var(--whiteSpaceLarger) var(--whiteSpaceMedium);
  width: 56%;
  min-height: 100vh;
}
.middle-container {
  padding: var(--whiteSpaceLarger);
  width: 100%;
  height: 1900px;

  border-radius: 37px;
  background-color: white;
}

/* ==========================================================================
                           Right Section
========================================================================== */
.right-section {
  position: sticky;
  top: 0;

  width: 26%;
  height: 100vh;

  padding: var(--whiteSpaceLarger) var(--whiteSpaceMedium)
    var(--whiteSpaceMedium) var(--whiteSpaceMedium);
}
.triple-container {
  /* Position */
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: var(--whiteSpaceMedium);

  /* Size */
  width: 100%;
  height: 100%;

  /* Design */
  border-radius: 37px;
}
.double-container {
  /* Position */
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: var(--whiteSpaceMedium);

  /* Size */
  width: 100%;
  height: 100%;

  /* Design */
  border-radius: 37px;
}
.single-container {
  padding: var(--whiteSpaceLarger);
  width: 100%;
  height: calc(100vh - (var(--whiteSpaceLarger)) - (var(--whiteSpaceLarger)));

  border-radius: 37px;
  background-color: white;
}

.top-div {
  min-height: 150px;
  padding: var(--whiteSpaceMedium);
  border-radius: 37px;
  background-color: white;
}
.middle-div {
  padding: var(--whiteSpaceMedium);
  border-radius: 37px;
  background-color: white;
}
.bottom-div {
  min-height: 150px;
  padding: var(--whiteSpaceMedium);
  border-radius: 37px;
  background-color: white;
}

/* ==========================================================================
                           Error & Loader
========================================================================== */
.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  border-radius: 4px;
  font-size: 0.9rem;
  color: var(--error);
}

.has-loading {
  position: relative;
}
.loadingSpinnerContainer {
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  backdrop-filter: blur(0.2rem);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loadingSpinner {
  display: inline-block;
  width: 20%;
  height: 0;
  /* Padding bottom actually decide the height for it to resizable */
  padding-bottom: calc(20% - 3px);
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #202020;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

.spin-message {
  margin: calc(8px + 0.5625vw);
  text-align: center;
  color: #232323;
  font-weight: bolder;
  padding: 0 8px 0 8px;
  border-radius: 4px;
  background-color: #e4e4e4c6;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* ==========================================================================
                           Responsive Design
========================================================================== */

/* ===========================[ 1166px ]================================== */
@media screen and (max-width: 1166px) {
}

/* ===========================[ 1024px ]================================== */
@media screen and (max-width: 1024px) {
}

/* ===========================[ 768px ]================================== */
@media screen and (max-width: 768px) {
  .middle-section {
    width: 82%;
  }
  .right-section {
    display: none;
  }
}

/* ===========================[ 480px ]================================== */
@media screen and (max-width: 480px) {
}
