/* ==========================================================================
                           Moderation CSS
========================================================================== */
.moderation-header {
  cursor: default;
  padding: var(--whiteSpaceLarger);
  width: 100%;
  border-radius: 37px;
  background-color: white;
}
.moderation-header.banned {
  margin-top: var(--whiteSpaceLarger);
}
.moderation-header h2 {
  padding-bottom: var(--whiteSpaceSmall);
}
.moderation-header p {
  color: var(--softGray);
}

.moderation-hr {
  margin-top: var(--whiteSpaceLarger);
  color: var(--softGray);
  border-top: 3px dotted var(--softGray);
}
/* ==========================================================================
                             Responsive Design
  ========================================================================== */

/* ===========================[ 1166px ]================================== */
@media screen and (max-width: 1166px) {
}

/* ===========================[ 1024px ]================================== */
@media screen and (max-width: 1024px) {
}

/* ===========================[ 768px ]================================== */
@media screen and (max-width: 768px) {
}

/* ===========================[ 480px ]================================== */
@media screen and (max-width: 480px) {
}
