/* ==========================================================================
                           My Posts CSS
========================================================================== */
/* Page Header */
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--whiteSpaceLarge);
  cursor: default;
}
.another-profile {
  padding-right: var(--whiteSpaceSmaller);
}

.page-header h4 {
  padding-top: var(--whiteSpaceSmaller);
  text-align: left;
  font-weight: 300;
  color: var(--softGray);
}

.page-header .right {
  width: 80%;
}
.page-header .right h3 {
  margin-top: 0;
  text-align: right;
  font-style: italic;
  font-weight: 200;
  font-size: 0.9rem;
}

/* ==========================================================================
                             Responsive Design
  ========================================================================== */

/* ===========================[ 1166px ]================================== */
@media screen and (max-width: 1166px) {
}

/* ===========================[ 1024px ]================================== */
@media screen and (max-width: 1024px) {
}

/* ===========================[ 768px ]================================== */
@media screen and (max-width: 768px) {
}

/* ===========================[ 480px ]================================== */
@media screen and (max-width: 480px) {
}
