/* ==========================================================================
                           Calendar Small
========================================================================== */

.calendar-small {
  text-align: center;
  display: none;
}
.calendar-small .dated {
  text-align: center;
  color: var(--yellow);
}

/* ==========================================================================
                             Responsive Design
  ========================================================================== */
/* ===========================[ 1440px ]================================== */
@media screen and (max-width: 1440px) {
}

/* ===========================[ 1166px ]================================== */
@media screen and (max-width: 1166px) {
}

/* ===========================[ 1024px ]================================== */
@media screen and (max-width: 1024px) {
  .calendar-small {
    display: block;
  }
}

/* ===========================[ 768px ]================================== */
@media screen and (max-width: 768px) {
}

/* ===========================[ 480px ]================================== */
@media screen and (max-width: 480px) {
}
