/* eslint-disable */

.highlight {
  font-weight: 900;
  background-color: #ff9f23;
  border-radius: 20px;
}

.calendar-container {
  width: 18rem;
}

.react-calendar {
  border: none;
}

.react-calendar button {
  border-radius: 20px;
}
