.highlight {
  font-weight: 900;
  background-color: #ff9f23;
}

.calendar-container {
  width: 20vw;
  min-width: 14rem;
}

.react-calendar {
  border: none;
}

.react-calendar button {
  border-radius: 20px;
}
.icon-container {
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
