/* =============[ Online Friends List ]===================*/

h3 {
  text-align: center;
  margin-top: 10px;
}

.friend-list {
  margin: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.friend-list-item {
  display: flex;
  margin-bottom: 20px;
  cursor: pointer;
}

.friend-list-avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.friend-list-name {
  display: flex;
  align-content: center;
  margin-left: 20px;
  color: darkslategray;
  padding-top: 20px;
}
