/* ==========================================================================
                           Middle Section
========================================================================== */
.middle-section {
  padding: var(--whiteSpaceLarger) var(--whiteSpaceMedium);
  width: 56%;
  min-height: 100vh;
}
.middle-container {
  padding: var(--whiteSpaceLarger);
  width: 100%;
  height: 1900px;

  border-radius: 37px;
  background-color: white;
}

/* ==========================================================================
                           Responsive Design
========================================================================== */

/* ===========================[ 1166px ]================================== */
@media screen and (max-width: 1166px) {
}

/* ===========================[ 1024px ]================================== */
@media screen and (max-width: 1024px) {
}

/* ===========================[ 768px ]================================== */
@media screen and (max-width: 768px) {
  .middle-section {
    width: 82%;
  }
}
/* ===========================[ 480px ]================================== */
@media screen and (max-width: 480px) {
}
