/* ==========================================================================
                           Navbar
========================================================================== */
.navbar {
  /* Position */
  position: sticky;
  top: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* Size */
  width: 18%;
  height: 100vh;
  padding: var(--whiteSpaceLarger) var(--whiteSpaceMedium)
    var(--whiteSpaceMedium) var(--whiteSpaceSmall);
}

/* =============[ User Profile ]===================*/

.user-status {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-top: var(--whiteSpaceMedium);
  padding-left: var(--whiteSpaceLarge);
  padding-bottom: var(--whiteSpaceMedium);
}
.user-online {
  padding-top: var(--whiteSpaceSmaller);
  padding-right: var(--whiteSpaceSmaller);
}
.user-online svg {
  width: 100%;
}
.user-information {
  cursor: default;
}
.user-information h3 {
  margin-top: 0px;
  font-size: 1.3rem;
  text-align: left;
  text-transform: capitalize;
}

/* =============[ Nav Links ]===================*/
.nav-links {
  /* Position */
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--whiteSpaceMedium);

  /* Size */
  padding-top: var(--whiteSpaceLarge);

  /* Design */
  list-style: none;
}
.link-group {
  width: 144px;
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  transition: 0.3s;
}

.link-group svg {
  width: 90%;
  fill: var(--gray);
  transition: 0.3s;
}
.link-text {
  width: 100%;
  padding-left: var(--whiteSpaceLarge);
  text-align: left;
  padding-top: var(--whiteSpaceSmaller);
}

.logout {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.navbar hr {
  border-top: 2px solid var(--gray);
  margin-bottom: var(--whiteSpaceMedium);
}

.link-group:hover,
.link-group:active {
  color: var(--yellow);
  font-weight: 700;
}

.link-group:hover svg,
.link-group:active svg {
  fill: var(--yellow);
}

.active .link-group {
  color: var(--yellow);
  font-weight: 700;
}
.active .link-group svg {
  fill: var(--yellow);
}

/* ==========================================================================
                             Responsive Design
  ========================================================================== */
/* ===========================[ 1440px ]================================== */
@media screen and (max-width: 1440px) {
  .link-group {
    width: 10vw;
  }
}

/* ===========================[ 1166px ]================================== */
@media screen and (max-width: 1166px) {
  .link-group {
    font-size: 1rem;
  }
}
/* ===========================[ 1120px ]================================== */
@media screen and (max-width: 1120px) {
  .navbar {
    padding: var(--whiteSpaceMedium);
    padding-top: var(--whiteSpaceLarger);
  }
  .link-group {
    width: 12vw;
  }
}

/* ===========================[ 1024px ]================================== */
@media screen and (max-width: 1024px) {
  .user-information h3 {
    font-size: 1.2rem;
  }
  .user-online {
    padding-top: 2px;
    padding-right: 4px;
    width: 12%;
  }

  .link-group {
    width: 11vw;
  }
  .link-group {
    font-size: 0.9rem;
  }
}
/* ===========================[ 866px ]================================== */
@media screen and (max-width: 916px) {
  .nav-links {
    row-gap: var(--whiteSpaceLarger);
  }
  .link-text {
    display: none;
  }
  .link-group {
    justify-content: center;
  }
}
/* ===========================[ 768px ]================================== */
@media screen and (max-width: 768px) {
  .navbar {
    padding: var(--whiteSpaceSmall);
    padding-top: var(--whiteSpaceLarger);
  }

  .user-status {
    padding-left: 0;
    justify-content: center;
  }
  .user-information {
    text-align: center;
  }
  .user-online {
    display: none;
  }
  .user-information h3 {
    font-size: 1rem;
  }
}

/* ===========================[ 600px !HEIGHT ]================================== */
@media screen and (max-height: 600px) {
  .profile-picture {
    width: 100%;
  }
}

/* ===========================[ 480px ]================================== */
@media screen and (max-width: 480px) {
  .navbar {
    min-width: 80px;
  }

  .user-information h3 {
    font-size: 0.9rem;
  }

  .link-group svg {
    width: 60%;
    margin-left: 20%;
  }
}
