.new-post-modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  z-index: 20;

  backdrop-filter: blur(0.3rem);
  text-align: center;
}

.modal-inside {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 37px;
  background-color: white;
  width: 50%;
  height: 50%;
}

.close-modal {
  position: absolute;
  top: 4%;
  right: 4%;
}
