.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--whiteSpaceLarge);
}

.page-header .left {
  text-align: left;
  width: 20%;
}
.page-header h4 {
  font-weight: lighter;
  color: var(--softGray);
}
.page-header strong {
  font-weight: bolder;
}

.page-header .right {
  font-style: italic;
  font-size: 0.9rem;
  text-align: right;
  width: 80%;
}
