/* ==========================================================================
                           Right Section
========================================================================== */
.right-section {
  position: sticky;
  top: 0;

  width: 26%;
  height: 100vh;

  padding: var(--whiteSpaceLarger) var(--whiteSpaceMedium)
    var(--whiteSpaceMedium) var(--whiteSpaceMedium);
}
.right-container {
  /* Position */
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: var(--whiteSpaceMedium);

  /* Size */
  width: 100%;
  height: 100%;

  /* Design */
  border-radius: 37px;
}

.top-div {
  min-height: 150px;
  padding: var(--whiteSpaceMedium);
  border-radius: 37px;
  background-color: white;
}
.middle-div {
  padding: var(--whiteSpaceMedium);
  border-radius: 37px;
  background-color: white;
}
.bottom-div {
  min-height: 150px;
  padding: var(--whiteSpaceMedium);
  border-radius: 37px;
  background-color: white;
}

/* ==========================================================================
                           Responsive Design
========================================================================== */

/* ===========================[ 1166px ]================================== */
@media screen and (max-width: 1166px) {
}

/* ===========================[ 1024px ]================================== */
@media screen and (max-width: 1024px) {
}

/* ===========================[ 768px ]================================== */
@media screen and (max-width: 768px) {
  .right-section {
    display: none;
  }
}
/* ===========================[ 480px ]================================== */
@media screen and (max-width: 480px) {
}
